* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.space-more {
    margin-top: 100px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4; /* 確保navbar在最頂層 */
}

.container {
    padding-top: 100px;
    margin: 0 auto;
    /* background-color:#767670; */
    position:relative;
    height:100%;
    height: calc(100% - 100px);
}
.footer{
    width:100%;
    /* height:40px; */
    border-top:1px solid #9F9793;
    border-bottom:1px solid #9F9793;
    background-color:#767670;
    position: fixed;
    bottom: 0;
}
body>footer {
    position: sticky;
    top: 100vh;
}

table {
    /*设置相邻单元格的边框间的距离*/
    border-spacing: 0;
    /*表格设置合并边框模型*/
    border-collapse: collapse;
    text-align: center;
}
/*关键设置 tbody出现滚动条*/
table tbody {
    display: block;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}
table thead,
tbody tr {
    /* display: table; */
    width: 100%;
    table-layout: fixed;
}
/*关键设置：滚动条默认宽度是16px 将thead的宽度减16px*/
table thead {
    width: calc( 100% - 1em)
}
table thead th {
    background: #ccc;
}


/* 表格th/td样式 */
td,
th {
    width: 50px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 30px;

}


table tbody {
/* firefox */
scrollbar-width: none;
/* ie10+ */
-ms-overflow-style: none;
}
/* chrome safari */
table tbody::-webkit-scrollbar {
display: none;
}