{% extends "app/Student.html" %}
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'css/form.css' %}">

{% block content %}
    <h2>Confirm Deletion</h2>
    <h5>Are you sure you want to delete the student's grades: {{ grade.name }}?</h5>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
    </form>
    <button href="{% url 'app:listGrades' %}" class="btn btn-secondary">Cancel</button>
{% endblock %}
{% comment %} 怎樣同一頁刪除 {% endcomment %}

