{% extends "app/Base.html" %}


{% block content %}
<h1>成績管理系統</h1>



{% comment %} <div class="container">
    {% if messages %} {% for message in messages %} {{ message }} {% endfor %} {% endif %}

    {% block replenishJS %}{% endblock %}
</div> {% endcomment %}
{% endblock %}


 {% comment %}
    <script>
        $(function() {
            $("#search").autocomplete({
                source: "{% url 'app:searchComplete' %}",
                minLength: 2, // Minimum characters before triggering autocomplete
            });
        });
    </script>
    {% endcomment %}