{% extends "app/Base.html" %}

{% block index %}
<!-- Our content -->
<h1>成績管理系統</h1>



{% block content %}{% endblock %}
<div class="container">
    {% if messages %} {% for message in messages %} {{ message }} {% endfor %} {% endif %}

    {% comment %}
    <script>
        $(function() {
            $("#search").autocomplete({
                source: "{% url 'app:searchComplete' %}",
                minLength: 2, // Minimum characters before triggering autocomplete
            });
        });
    </script>
    {% endcomment %}
    {% block replenishJS %}{% endblock %}
</div>
{% endblock %}